**/.git
**/.gitignore
**/.vscode
**/.vs
**/bin
**/obj
**/node_modules
**/dist
**/publish
**/*.user
**/*.suo
**/.DS_Store
**/Thumbs.db
**/logs
**/temp_*
**/test_*
**/.history
**/.backups
README.md
.editorconfig
*.md
